//Colours
$turnerBlue: #0177bf;
$turnerRed: #cc1543;
$turnerGreen: #54b444;
$turnerWhite: #ffffff;
$turnerBlack: #000000;
$turnerOffWhite: #e1eaf4;

//Fonts
$bodyFont:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
$bodyFontSize : 18px;

//Margins
$sideMargin: 100px;
$navbarGaps: 40px;