@import '../Variables/Variables.scss';

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $turnerOffWhite;
}

.header2{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    background-color: #434344;
    color:white;
} 


.title{
    margin-left: $sideMargin;
    margin-right: $sideMargin;
    height: 35px;
    padding: 10px;
}