@import '../Variables/Variables.scss';
// html,
// body {
//   margin: 0;
//   padding: 0;
//   height: 100%;
//   width: 100%;
// }
// body {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   font-family: sans-serif;
//   background: #eaeaea;
// }
// .app {
//   padding: 30px;
//   width: 500px;
//   background: #fff;
//   border-radius: 5px;
// }
// .announcement {
//   padding: 0 0 0.88rem;
//   margin: 0 0 0.88rem;
//   border-bottom: 1px solid rgb(226, 226, 226);
// }
button {
    position: relative;
    //padding: 0.375rem 0.88rem;
    color: $turnerWhite;
    background-color:$turnerBlue;
    //border-color: #ddd;
    font-family: $bodyFont;
    //font-weight: 400;
    //text-align: left;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    //line-height: 1.5;
    border-radius: 0.25rem;
    cursor: pointer;
}
// button:hover {
//   color: #fff;
//   background-color: #0069d9;
// }
// button.active {
//   color: #fff;
//   background-color: #0069d9;
// }
.dropdown {
  position: absolute;
  top: 38px;
  left: -1px;
  border: 1px solid rgb(197, 197, 197);
  //background: #fff;
  background: rgba(255, 255, 255,0.4);
  padding: 0;
  //color: #0062cc;
  text-align: left;
  border-radius: 0.25rem;
}
.dropdown > p {
    color: $turnerBlue;
  margin: 0;
  padding: 0.375rem 0.88rem;
  border-bottom: 1px solid rgb(235, 235, 235);
  min-width: 140px;
}
.dropdown > p:hover {
    background: rgba(255, 255, 255,0.8);
    //background-color: #0062cc;
}
.dropdown > p:last-child {
  border-bottom: 0 none;
}
