@import '../Variables/Variables.scss';
.profile-section{
    display: flex;
    flex-direction: column;
}
.profile-bg{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 17vw;
    background-image: url('../images/CarBG.png');
    background-repeat:no-repeat;
    background-size: 100%;
}
.turner-text img{
    margin: 50px;
    height: 100px;
    margin-left: $sideMargin;
}
.quote-buttons{
    display: flex;
    flex-direction: row;
    margin-right: $sideMargin;
    margin-top: 80px;
}
.blue-button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $turnerBlue;
    color: $turnerWhite;
    width: 200px;
    height: 50px;
    font-size: $bodyFontSize;
    font-family: $bodyFont;
    border-radius: 13px;
}
.transparent-button{
    display: flex;
    justify-content: center;
    align-items: center;
    // background-color: $turnerWhite;
    // opacity: 0.8;
    background: rgba(255, 255, 255,0.4);
    color: $turnerBlue;
    width: 200px;
    height: 50px;
    font-size: $bodyFontSize;
    font-family: $bodyFont;
    border: solid 2px $turnerBlue;
    border-radius: 13px;
    margin-left: 30px;
}
.ins-types{
    display: flex;
    flex-direction: row;
    text-align: center;
    background-color: $turnerOffWhite;
    padding-left: $sideMargin;
    padding-right: $sideMargin;
    padding-bottom: 30px;
    padding-top: 30px;
}
hr.vertical {
    height:90%;
    width:3;
    border:10 solid $turnerBlack;
}
.ins-type{
    width: 30%;
}
.ins-type h4{
    color: $turnerBlue;
}
.ins-type p{
    font:$bodyFont;
    font-size: 15px;
}
.honors{
    display: flex;
    align-items: center;
    background-color: $turnerBlue;
    color: $turnerWhite;
    height: 100px;
    padding-left: $sideMargin+200;
    padding-right: $sideMargin+200;
}
.badges img{
    width: 125px;
    padding: 20px;
}
.honors p{
    text-align: center;
    padding-right: 50px;
    padding-left: 50px;
    font-family: $bodyFont;
}